*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.float-left{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

header{
    background-color: #0C325A;
    width: 100%;
    height: 550px;
    background-image: url(img/background-header.png);
    background-position: right bottom;
    background-size: 65% auto;
    background-repeat: no-repeat;
}

.header-nav{
    height: 80px;
    line-height: 80px;
}

.logo{
    width: 15%;
    height: 100%;
}

.nav-left{
     width: 45%;
     height: 100%;
}

.list-inline > li {
    display: inline-block;
    padding: 0 10px;
}

.list-inline a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.list-inline a:hover{
    color: #7CBB02;
}

.buttons-right button{
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.buttons-right a:hover{
    color: #7CBB02;
}

.btn-green{
    color: white;
    border: none;
    background-color: #7CBB02;
    border-radius: 1px solid #7CBB02;
    padding: 6px 30px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.btn-lg{
    padding: 20px;
}
.btn-green:hover{
     background-color: white;
}

.btn-blue{
    color: white;
    border: none;
    border: 1px solid white;
    padding: 20px 25px;
    margin-right: 7px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.buttons-right a{
    padding: 5px 18px;
    font-size: 13px;
    line-height: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.jumbotron{
    position: relative;
    height: 470px;
    width: 50%;
}

.jumbotron-text{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
}

h1{
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}

.central{
    position: relative;
    background-color: #D3D3D3;
    width: 100%;
    height: 160px;
}

.centrale{
    position: absolute;
    top: 30%;
    right: 34%;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.centrale-2{
    position: absolute;
    font-size: 18px;
    top: 50%;
    right: 30%;
    color: #A9A9A9;
    font-family: 'Roboto', sans-serif;
}


.sezione_immagini{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}


.immagini-piccole{
    height: 150px;
}

.immagini_left{
    /* border: 2px solid #333; */
    float: left;
    padding: 30px 10px;
    margin-left: 25px;
     width: 31%; /* 30*3 = 90% */
}

/* .immagini_left::after{
    content: "";
    display: table;
    clear: both;
} */


h4{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #96C836;
}


.centrali{
    width: 40px;
    margin-left: 160px;
    margin-top: 15px;
}

p{
    font-family: 'Roboto', sans-serif;
    color: #BCBCBC;
}

.schema_basso{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.grafico{
    width: 400px;
    margin-top: 8px;
    margin-left: 150px;
}

.schema_basso{
        width: 40%;
        float: left;
        margin: 0 auto;
        margin-left: 15px;
        overflow: hidden;
}

.piano_personalizzato{
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
 
}

h2{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.container_footer{
    width: 100%;
    height: 150px;
    background-color: #D3D3D3;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.sx{
    position:absolute;
    top: 40px;
    left: 186px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.buttons_footer{
    position: absolute;
    top: 20px;
    right: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    /* color: white;
    border: none;
    background-color: #7CBB02;
    border-radius: 1px solid #7CBB02; */

}

